<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default Window Settings</key>
	<string>Pro</string>
	<key>HasMigratedDefaults</key>
	<true/>
	<key>NSColorPanelMode</key>
	<string>6</string>
	<key>NSColorPanelVisibleSwatchRows</key>
	<integer>1</integer>
	<key>NSFontPanelAttributes</key>
	<string>1, 1</string>
	<key>NSNavBrowserPreferedColumnContentWidth</key>
	<real>186</real>
	<key>NSNavLastRootDirectory</key>
	<string>~</string>
	<key>NSNavPanelExpandedSizeForSaveMode</key>
	<string>{518, 403}</string>
	<key>NSNavSidebarWidth</key>
	<real>120</real>
	<key>NSWindow Frame NSColorPanel</key>
	<string>307 274 201 309 0 0 1440 878 </string>
	<key>NSWindow Frame NSFontPanel</key>
	<string>929 77 445 270 0 0 1440 878 </string>
	<key>NSWindow Frame TTAppPreferences</key>
	<string>449 291 590 399 0 0 1440 878 </string>
	<key>NSWindow Frame TTWindow</key>
	<string>0 49 1439 829 0 0 1440 878 </string>
	<key>NSWindow Frame TTWindow Basic</key>
	<string>137 172 585 438 0 0 1440 878 </string>
	<key>NSWindow Frame TTWindow Pro</key>
	<string>0 50 1439 828 0 0 1440 878 </string>
	<key>PMPrintingExpandedStateForPrint</key>
	<false/>
	<key>PermanentServers</key>
	<array>
		<string>admin.online.pbs.org</string>
	</array>
	<key>PreviousCommands</key>
	<array>
		<string>ssh nbstrite@admin.online.pbs.org</string>
		<string>admin.online.pbs.org</string>
	</array>
	<key>SecureKeyboardEntry</key>
	<true/>
	<key>Shell</key>
	<string>/bin/zsh</string>
	<key>Startup Window Group</key>
	<string>work</string>
	<key>Startup Window Settings</key>
	<string>Pro</string>
	<key>StartupAction</key>
	<integer>2</integer>
	<key>TTAppPreferences Selected Tab</key>
	<integer>1</integer>
	<key>TTInspector Selected Pane</key>
	<string>Settings</string>
	<key>Window Groups</key>
	<array>
		<dict>
			<key>WindowList</key>
			<array>
				<dict>
					<key>Origin</key>
					<string>{0, 878}</string>
					<key>ShowsTabBar</key>
					<false/>
					<key>Window Settings</key>
					<array>
						<dict>
							<key>Tab Column Count</key>
							<integer>202</integer>
							<key>Tab Row Count</key>
							<integer>45</integer>
							<key>Tab Settings</key>
							<dict>
								<key>BackgroundColor</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGCQpY
								JHZlcnNpb25U
								JHRvcFkkYXJj
								aGl2ZXJYJG9i
								amVjdHMSAAGG
								oNEHCFRyb290
								gAFfEA9OU0tl
								eWVkQXJjaGl2
								ZXKjCwwTVSRu
								dWxs0w0ODxAR
								ElYkY2xhc3Nc
								TlNDb2xvclNw
								YWNlV05TV2hp
								dGWAAhADTTAg
								MC44NTAwMDAw
								MgDSFBUWF1gk
								Y2xhc3Nlc1ok
								Y2xhc3NuYW1l
								ohcYV05TQ29s
								b3JYTlNPYmpl
								Y3QIERofKTI3
								Oj9BU1ddZGt4
								gIKEkpegq662
								AAAAAAAAAQEA
								AAAAAAAAGQAA
								AAAAAAAAAAAA
								AAAAAL8=
								</data>
								<key>CursorBlink</key>
								<false/>
								<key>CursorColor</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGCQpY
								JHZlcnNpb25U
								JHRvcFkkYXJj
								aGl2ZXJYJG9i
								amVjdHMSAAGG
								oNEHCFRyb290
								gAFfEA9OU0tl
								eWVkQXJjaGl2
								ZXKjCwwTVSRu
								dWxs0w0ODxAR
								ElYkY2xhc3Nc
								TlNDb2xvclNw
								YWNlV05TV2hp
								dGWAAhADSzAu
								MzAyNDE5MzYA
								0hQVFhdYJGNs
								YXNzZXNaJGNs
								YXNzbmFtZaIX
								GFdOU0NvbG9y
								WE5TT2JqZWN0
								CBEaHykyNzo/
								QVNXXWRreICC
								hJCVnqmstAAA
								AAAAAAEBAAAA
								AAAAABkAAAAA
								AAAAAAAAAAAA
								AAC9
								</data>
								<key>Font</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGCQpY
								JHZlcnNpb25U
								JHRvcFkkYXJj
								aGl2ZXJYJG9i
								amVjdHMSAAGG
								oNEHCFRyb290
								gAFfEA9OU0tl
								eWVkQXJjaGl2
								ZXKkCwwVFlUk
								bnVsbNQNDg8Q
								ERITFFYkY2xh
								c3NWTlNTaXpl
								Vk5TTmFtZVhO
								U2ZGbGFnc4AD
								I0AqAAAAAAAA
								gAIQEFhDb25z
								b2xhc9IXGBka
								WCRjbGFzc2Vz
								WiRjbGFzc25h
								bWWiGhtWTlNG
								b250WE5TT2Jq
								ZWN0CBEaHyky
								Nzo/QVNYXmdu
								dXyFh5CSlJ2i
								q7a5wAAAAAAA
								AAEBAAAAAAAA
								ABwAAAAAAAAA
								AAAAAAAAAADJ
								</data>
								<key>FontAntialias</key>
								<true/>
								<key>Linewrap</key>
								<true/>
								<key>SelectionColor</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGCQpY
								JHZlcnNpb25U
								JHRvcFkkYXJj
								aGl2ZXJYJG9i
								amVjdHMSAAGG
								oNEHCFRyb290
								gAFfEA9OU0tl
								eWVkQXJjaGl2
								ZXKjCwwTVSRu
								dWxs0w0ODxAR
								ElYkY2xhc3Nc
								TlNDb2xvclNw
								YWNlV05TV2hp
								dGWAAhADSzAu
								MjU0MDMyMjUA
								0hQVFhdYJGNs
								YXNzZXNaJGNs
								YXNzbmFtZaIX
								GFdOU0NvbG9y
								WE5TT2JqZWN0
								CBEaHykyNzo/
								QVNXXWRreICC
								hJCVnqmstAAA
								AAAAAAEBAAAA
								AAAAABkAAAAA
								AAAAAAAAAAAA
								AAC9
								</data>
								<key>ShowActiveProcessInTitle</key>
								<true/>
								<key>ShowCommandKeyInTitle</key>
								<false/>
								<key>ShowDimensionsInTitle</key>
								<true/>
								<key>ShowShellCommandInTitle</key>
								<false/>
								<key>ShowTTYNameInTitle</key>
								<false/>
								<key>ShowWindowSettingsNameInTitle</key>
								<false/>
								<key>TextBoldColor</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGCQpY
								JHZlcnNpb25U
								JHRvcFkkYXJj
								aGl2ZXJYJG9i
								amVjdHMSAAGG
								oNEHCFRyb290
								gAFfEA9OU0tl
								eWVkQXJjaGl2
								ZXKjCwwTVSRu
								dWxs0w0ODxAR
								ElYkY2xhc3Nc
								TlNDb2xvclNw
								YWNlVU5TUkdC
								gAIQAU8QITAu
								ODQ3ODI2MTIg
								MC44NDc4MjYx
								MiAwLjg0Nzgy
								NjEyANIUFRYX
								WCRjbGFzc2Vz
								WiRjbGFzc25h
								bWWiFxhXTlND
								b2xvclhOU09i
								amVjdAgRGh8p
								Mjc6P0FTV11k
								a3h+gIKmq7S/
								wsoAAAAAAAAB
								AQAAAAAAAAAZ
								AAAAAAAAAAAA
								AAAAAAAA0w==
								</data>
								<key>TextColor</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGCQpY
								JHZlcnNpb25U
								JHRvcFkkYXJj
								aGl2ZXJYJG9i
								amVjdHMSAAGG
								oNEHCFRyb290
								gAFfEA9OU0tl
								eWVkQXJjaGl2
								ZXKjCwwTVSRu
								dWxs0w0ODxAR
								ElYkY2xhc3Nc
								TlNDb2xvclNw
								YWNlV05TV2hp
								dGWAAhADQjEA
								0hQVFhdYJGNs
								YXNzZXNaJGNs
								YXNzbmFtZaIX
								GFdOU0NvbG9y
								WE5TT2JqZWN0
								CBEaHykyNzo/
								QVNXXWRreICC
								hIeMlaCjqwAA
								AAAAAAEBAAAA
								AAAAABkAAAAA
								AAAAAAAAAAAA
								AAC0
								</data>
								<key>columnCount</key>
								<integer>150</integer>
								<key>name</key>
								<string>Pro</string>
								<key>rowCount</key>
								<integer>40</integer>
								<key>shellExitAction</key>
								<integer>2</integer>
								<key>type</key>
								<string>Window Settings</string>
								<key>useOptionAsMetaKey</key>
								<true/>
							</dict>
							<key>Tab Settings Name</key>
							<string>Pro</string>
							<key>TabSelected</key>
							<true/>
						</dict>
						<dict>
							<key>Tab Column Count</key>
							<integer>202</integer>
							<key>Tab Row Count</key>
							<integer>45</integer>
							<key>Tab Settings</key>
							<dict>
								<key>BackgroundColor</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGCQpY
								JHZlcnNpb25U
								JHRvcFkkYXJj
								aGl2ZXJYJG9i
								amVjdHMSAAGG
								oNEHCFRyb290
								gAFfEA9OU0tl
								eWVkQXJjaGl2
								ZXKjCwwTVSRu
								dWxs0w0ODxAR
								ElYkY2xhc3Nc
								TlNDb2xvclNw
								YWNlV05TV2hp
								dGWAAhADTTAg
								MC44NTAwMDAw
								MgDSFBUWF1gk
								Y2xhc3Nlc1ok
								Y2xhc3NuYW1l
								ohcYV05TQ29s
								b3JYTlNPYmpl
								Y3QIERofKTI3
								Oj9BU1ddZGt4
								gIKEkpegq662
								AAAAAAAAAQEA
								AAAAAAAAGQAA
								AAAAAAAAAAAA
								AAAAAL8=
								</data>
								<key>CursorBlink</key>
								<false/>
								<key>CursorColor</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGCQpY
								JHZlcnNpb25U
								JHRvcFkkYXJj
								aGl2ZXJYJG9i
								amVjdHMSAAGG
								oNEHCFRyb290
								gAFfEA9OU0tl
								eWVkQXJjaGl2
								ZXKjCwwTVSRu
								dWxs0w0ODxAR
								ElYkY2xhc3Nc
								TlNDb2xvclNw
								YWNlV05TV2hp
								dGWAAhADSzAu
								MzAyNDE5MzYA
								0hQVFhdYJGNs
								YXNzZXNaJGNs
								YXNzbmFtZaIX
								GFdOU0NvbG9y
								WE5TT2JqZWN0
								CBEaHykyNzo/
								QVNXXWRreICC
								hJCVnqmstAAA
								AAAAAAEBAAAA
								AAAAABkAAAAA
								AAAAAAAAAAAA
								AAC9
								</data>
								<key>Font</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGCQpY
								JHZlcnNpb25U
								JHRvcFkkYXJj
								aGl2ZXJYJG9i
								amVjdHMSAAGG
								oNEHCFRyb290
								gAFfEA9OU0tl
								eWVkQXJjaGl2
								ZXKkCwwVFlUk
								bnVsbNQNDg8Q
								ERITFFYkY2xh
								c3NWTlNTaXpl
								Vk5TTmFtZVhO
								U2ZGbGFnc4AD
								I0AqAAAAAAAA
								gAIQEFhDb25z
								b2xhc9IXGBka
								WCRjbGFzc2Vz
								WiRjbGFzc25h
								bWWiGhtWTlNG
								b250WE5TT2Jq
								ZWN0CBEaHyky
								Nzo/QVNYXmdu
								dXyFh5CSlJ2i
								q7a5wAAAAAAA
								AAEBAAAAAAAA
								ABwAAAAAAAAA
								AAAAAAAAAADJ
								</data>
								<key>FontAntialias</key>
								<true/>
								<key>Linewrap</key>
								<true/>
								<key>SelectionColor</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGCQpY
								JHZlcnNpb25U
								JHRvcFkkYXJj
								aGl2ZXJYJG9i
								amVjdHMSAAGG
								oNEHCFRyb290
								gAFfEA9OU0tl
								eWVkQXJjaGl2
								ZXKjCwwTVSRu
								dWxs0w0ODxAR
								ElYkY2xhc3Nc
								TlNDb2xvclNw
								YWNlV05TV2hp
								dGWAAhADSzAu
								MjU0MDMyMjUA
								0hQVFhdYJGNs
								YXNzZXNaJGNs
								YXNzbmFtZaIX
								GFdOU0NvbG9y
								WE5TT2JqZWN0
								CBEaHykyNzo/
								QVNXXWRreICC
								hJCVnqmstAAA
								AAAAAAEBAAAA
								AAAAABkAAAAA
								AAAAAAAAAAAA
								AAC9
								</data>
								<key>ShowActiveProcessInTitle</key>
								<true/>
								<key>ShowCommandKeyInTitle</key>
								<false/>
								<key>ShowDimensionsInTitle</key>
								<true/>
								<key>ShowShellCommandInTitle</key>
								<false/>
								<key>ShowTTYNameInTitle</key>
								<false/>
								<key>ShowWindowSettingsNameInTitle</key>
								<false/>
								<key>TextBoldColor</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGCQpY
								JHZlcnNpb25U
								JHRvcFkkYXJj
								aGl2ZXJYJG9i
								amVjdHMSAAGG
								oNEHCFRyb290
								gAFfEA9OU0tl
								eWVkQXJjaGl2
								ZXKjCwwTVSRu
								dWxs0w0ODxAR
								ElYkY2xhc3Nc
								TlNDb2xvclNw
								YWNlVU5TUkdC
								gAIQAU8QITAu
								ODQ3ODI2MTIg
								MC44NDc4MjYx
								MiAwLjg0Nzgy
								NjEyANIUFRYX
								WCRjbGFzc2Vz
								WiRjbGFzc25h
								bWWiFxhXTlND
								b2xvclhOU09i
								amVjdAgRGh8p
								Mjc6P0FTV11k
								a3h+gIKmq7S/
								wsoAAAAAAAAB
								AQAAAAAAAAAZ
								AAAAAAAAAAAA
								AAAAAAAA0w==
								</data>
								<key>TextColor</key>
								<data>
								YnBsaXN0MDDU
								AQIDBAUGCQpY
								JHZlcnNpb25U
								JHRvcFkkYXJj
								aGl2ZXJYJG9i
								amVjdHMSAAGG
								oNEHCFRyb290
								gAFfEA9OU0tl
								eWVkQXJjaGl2
								ZXKjCwwTVSRu
								dWxs0w0ODxAR
								ElYkY2xhc3Nc
								TlNDb2xvclNw
								YWNlV05TV2hp
								dGWAAhADQjEA
								0hQVFhdYJGNs
								YXNzZXNaJGNs
								YXNzbmFtZaIX
								GFdOU0NvbG9y
								WE5TT2JqZWN0
								CBEaHykyNzo/
								QVNXXWRreICC
								hIeMlaCjqwAA
								AAAAAAEBAAAA
								AAAAABkAAAAA
								AAAAAAAAAAAA
								AAC0
								</data>
								<key>columnCount</key>
								<integer>150</integer>
								<key>name</key>
								<string>Pro</string>
								<key>rowCount</key>
								<integer>40</integer>
								<key>shellExitAction</key>
								<integer>2</integer>
								<key>type</key>
								<string>Window Settings</string>
								<key>useOptionAsMetaKey</key>
								<true/>
							</dict>
							<key>Tab Settings Name</key>
							<string>Pro</string>
							<key>TabSelected</key>
							<false/>
						</dict>
					</array>
					<key>WindowNumber</key>
					<integer>1</integer>
				</dict>
			</array>
			<key>name</key>
			<string>work</string>
			<key>type</key>
			<string>Window Group</string>
		</dict>
	</array>
	<key>Window Settings</key>
	<dict>
		<key>Basic</key>
		<dict>
			<key>FontAntialias</key>
			<false/>
			<key>name</key>
			<string>Basic</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Grass</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAk8QIDAuMDc0NTA5ODA3IDAuNDY2NjY2NyAw
			LjIzOTIxNTcA0hQVFhdYJGNsYXNzZXNaJGNsYXNzbmFtZaIXGFdO
			U0NvbG9yWE5TT2JqZWN0CBEaHykyNzo/QVNXXWRreH6AgqWqs77B
			yQAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADS
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAk8QGDAuNTU2ODYyNzcgMC4xNTY4NjI3NSAw
			ANIUFRYXWCRjbGFzc2VzWiRjbGFzc25hbWWiFxhXTlNDb2xvclhO
			U09iamVjdAgRGh8pMjc6P0FTV11ka3h+gIKdoqu2ucEAAAAAAAAB
			AQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAyg==
			</data>
			<key>CursorType</key>
			<integer>0</integer>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKkCwwVFlUkbnVsbNQNDg8QERITFFYkY2xhc3NWTlNTaXpl
			Vk5TTmFtZVhOU2ZGbGFnc4ADI0AoAAAAAAAAgAIQEFdDb3VyaWVy
			0hcYGRpYJGNsYXNzZXNaJGNsYXNzbmFtZaIaG1ZOU0ZvbnRYTlNP
			YmplY3QIERofKTI3Oj9BU1heZ251fIWHkJKUnKGqtbi/AAAAAAAA
			AQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAMg=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAk8QITAuNzEzNzI1NTEgMC4yODYyNzQ1MiAw
			LjE0OTAxOTYxANIUFRYXWCRjbGFzc2VzWiRjbGFzc25hbWWiFxhX
			TlNDb2xvclhOU09iamVjdAgRGh8pMjc6P0FTV11ka3h+gIKmq7S/
			wsoAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAk8QFzEgMC42OTAxOTYxIDAuMjMxMzcyNTcA
			0hQVFhdYJGNsYXNzZXNaJGNsYXNzbmFtZaIXGFdOU0NvbG9yWE5T
			T2JqZWN0CBEaHykyNzo/QVNXXWRreH6AgpyhqrW4wAAAAAAAAAEB
			AAAAAAAAABkAAAAAAAAAAAAAAAAAAADJ
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAk8QGDEgMC45NDExNzY1MyAwLjY0NzA1ODg0
			ANIUFRYXWCRjbGFzc2VzWiRjbGFzc25hbWWiFxhXTlNDb2xvclhO
			U09iamVjdAgRGh8pMjc6P0FTV11ka3h+gIKdoqu2ucEAAAAAAAAB
			AQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAyg==
			</data>
			<key>name</key>
			<string>Grass</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Homebrew</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlV05TV2hpdGWAAhADTTAgMC44OTk5OTk5OADSFBUWF1gkY2xh
			c3Nlc1okY2xhc3NuYW1lohcYV05TQ29sb3JYTlNPYmplY3QIERof
			KTI3Oj9BU1ddZGt4gIKEkpegq662AAAAAAAAAQEAAAAAAAAAGQAA
			AAAAAAAAAAAAAAAAAL8=
			</data>
			<key>CursorBlink</key>
			<true/>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAk8QGTAuMTM3MjU0OTEgMSAwLjA5NDExNzY1
			NgDSFBUWF1gkY2xhc3Nlc1okY2xhc3NuYW1lohcYV05TQ29sb3JY
			TlNPYmplY3QIERofKTI3Oj9BU1ddZGt4foCCnqOst7rCAAAAAAAA
			AQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAMs=
			</data>
			<key>CursorType</key>
			<integer>0</integer>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKkCwwVFlUkbnVsbNQNDg8QERITFFYkY2xhc3NWTlNTaXpl
			Vk5TTmFtZVhOU2ZGbGFnc4ADI0AoAAAAAAAAgAIQEFpBbmRhbGVN
			b25v0hcYGRpYJGNsYXNzZXNaJGNsYXNzbmFtZaIaG1ZOU0ZvbnRY
			TlNPYmplY3QIERofKTI3Oj9BU1heZ251fIWHkJKUn6StuLvCAAAA
			AAAAAQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAMs=
			</data>
			<key>FontAntialias</key>
			<false/>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAk8QIzAuMDMwNDM5NjE5IDAuMjIxNzc0MTkg
			MC4wMjA4NzI4NzYA0hQVFhdYJGNsYXNzZXNaJGNsYXNzbmFtZaIX
			GFdOU0NvbG9yWE5TT2JqZWN0CBEaHykyNzo/QVNXXWRreH6Agqit
			tsHEzAAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADV
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAUYwIDEgMADSFBUWF1gkY2xhc3Nlc1okY2xh
			c3NuYW1lohcYV05TQ29sb3JYTlNPYmplY3QIERofKTI3Oj9BU1dd
			ZGt4foCCiY6XoqWtAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAA
			AAAAALY=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAUYwIDEgMADSFBUWF1gkY2xhc3Nlc1okY2xh
			c3NuYW1lohcYV05TQ29sb3JYTlNPYmplY3QIERofKTI3Oj9BU1dd
			ZGt4foCCiY6XoqWtAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAA
			AAAAALY=
			</data>
			<key>name</key>
			<string>Homebrew</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Novel</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAk8QGjAuODc1IDAuODU3OTgzNjUgMC43NjU2
			MjUA0hQVFhdYJGNsYXNzZXNaJGNsYXNzbmFtZaIXGFdOU0NvbG9y
			WE5TT2JqZWN0CBEaHykyNzo/QVNXXWRreH6Agp+krbi7wwAAAAAA
			AAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADM
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAk8QKjAuMjI3NDUxIDAuMTM3MjU0OTEgMC4x
			MzMzMzMzNCAwLjY0OTk5OTk4ANIUFRYXWCRjbGFzc2VzWiRjbGFz
			c25hbWWiFxhXTlNDb2xvclhOU09iamVjdAgRGh8pMjc6P0FTV11k
			a3h+gIKvtL3Iy9MAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAA
			AAAA3A==
			</data>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKkCwwVFlUkbnVsbNQNDg8QERITFFYkY2xhc3NWTlNTaXpl
			Vk5TTmFtZVhOU2ZGbGFnc4ADI0AoAAAAAAAAgAIQEFdDb3VyaWVy
			0hcYGRpYJGNsYXNzZXNaJGNsYXNzbmFtZaIaG1ZOU0ZvbnRYTlNP
			YmplY3QIERofKTI3Oj9BU1heZ251fIWHkJKUnKGqtbi/AAAAAAAA
			AQEAAAAAAAAAHAAAAAAAAAAAAAAAAAAAAMg=
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAU8QKzAuNjQ4NDQ3MzkgMC42NDU1NDgxNiAw
			LjU1ODU1NjUgMC43NDAwMDAwMQDSFBUWF1gkY2xhc3Nlc1okY2xh
			c3NuYW1lohcYV05TQ29sb3JYTlNPYmplY3QIERofKTI3Oj9BU1dd
			ZGt4foCCsLW+yczUAAAAAAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAA
			AAAAAN0=
			</data>
			<key>ShowWindowSettingsNameInTitle</key>
			<false/>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAU8QGzAuNSAwLjE2NDMwMDU1IDAuMDk5MTQ1
			NDcyANIUFRYXWCRjbGFzc2VzWiRjbGFzc25hbWWiFxhXTlNDb2xv
			clhOU09iamVjdAgRGh8pMjc6P0FTV11ka3h+gIKgpa65vMQAAAAA
			AAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAAzQ==
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAU8QITAuMjMzMTczMTIgMC4xMzU0MDg1NyAw
			LjEzMjkwNjA4ANIUFRYXWCRjbGFzc2VzWiRjbGFzc25hbWWiFxhX
			TlNDb2xvclhOU09iamVjdAgRGh8pMjc6P0FTV11ka3h+gIKmq7S/
			wsoAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>WindowTitle</key>
			<string>Terminal</string>
			<key>name</key>
			<string>Novel</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Ocean</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAU8QITAuMTMyMDU2MjQgMC4zMDg0Nzg1NiAw
			LjczOTEzMDQ0ANIUFRYXWCRjbGFzc2VzWiRjbGFzc25hbWWiFxhX
			TlNDb2xvclhOU09iamVjdAgRGh8pMjc6P0FTV11ka3h+gIKmq7S/
			wsoAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAU8QFzAuMTMwNzM5MyAwLjQyODQ1ODA2IDEA
			0hQVFhdYJGNsYXNzZXNaJGNsYXNzbmFtZaIXGFdOU0NvbG9yWE5T
			T2JqZWN0CBEaHykyNzo/QVNXXWRreH6AgpyhqrW4wAAAAAAAAAEB
			AAAAAAAAABkAAAAAAAAAAAAAAAAAAADJ
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlV05TV2hpdGWAAhADQjEA0hQVFhdYJGNsYXNzZXNaJGNsYXNz
			bmFtZaIXGFdOU0NvbG9yWE5TT2JqZWN0CBEaHykyNzo/QVNXXWRr
			eICChIeMlaCjqwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlV05TV2hpdGWAAhADQjEA0hQVFhdYJGNsYXNzZXNaJGNsYXNz
			bmFtZaIXGFdOU0NvbG9yWE5TT2JqZWN0CBEaHykyNzo/QVNXXWRr
			eICChIeMlaCjqwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>name</key>
			<string>Ocean</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
		<key>Pro</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlV05TV2hpdGWAAhADTTAgMC44NTAwMDAwMgDSFBUWF1gkY2xh
			c3Nlc1okY2xhc3NuYW1lohcYV05TQ29sb3JYTlNPYmplY3QIERof
			KTI3Oj9BU1ddZGt4gIKEkpegq662AAAAAAAAAQEAAAAAAAAAGQAA
			AAAAAAAAAAAAAAAAAL8=
			</data>
			<key>Bell</key>
			<false/>
			<key>CursorBlink</key>
			<false/>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlV05TV2hpdGWAAhADSzAuMzAyNDE5MzYA0hQVFhdYJGNsYXNz
			ZXNaJGNsYXNzbmFtZaIXGFdOU0NvbG9yWE5TT2JqZWN0CBEaHyky
			Nzo/QVNXXWRreICChJCVnqmstAAAAAAAAAEBAAAAAAAAABkAAAAA
			AAAAAAAAAAAAAAC9
			</data>
			<key>CursorType</key>
			<integer>0</integer>
			<key>DisableANSIColor</key>
			<false/>
			<key>EscapeNonASCIICharacters</key>
			<true/>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKkCwwVFlUkbnVsbNQNDg8QERITFFYkY2xhc3NWTlNTaXpl
			Vk5TTmFtZVhOU2ZGbGFnc4ADI0AqAAAAAAAAgAIQEFhDb25zb2xh
			c9IXGBkaWCRjbGFzc2VzWiRjbGFzc25hbWWiGhtWTlNGb250WE5T
			T2JqZWN0CBEaHykyNzo/QVNYXmdudXyFh5CSlJ2iq7a5wAAAAAAA
			AAEBAAAAAAAAABwAAAAAAAAAAAAAAAAAAADJ
			</data>
			<key>FontAntialias</key>
			<true/>
			<key>Linewrap</key>
			<true/>
			<key>ScrollbackLines</key>
			<integer>5000</integer>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlV05TV2hpdGWAAhADSzAuMjU0MDMyMjUA0hQVFhdYJGNsYXNz
			ZXNaJGNsYXNzbmFtZaIXGFdOU0NvbG9yWE5TT2JqZWN0CBEaHyky
			Nzo/QVNXXWRreICChJCVnqmstAAAAAAAAAEBAAAAAAAAABkAAAAA
			AAAAAAAAAAAAAAC9
			</data>
			<key>ShouldLimitScrollback</key>
			<integer>1</integer>
			<key>ShowActiveProcessInTitle</key>
			<true/>
			<key>ShowCommandKeyInTitle</key>
			<false/>
			<key>ShowDimensionsInTitle</key>
			<false/>
			<key>ShowShellCommandInTitle</key>
			<true/>
			<key>ShowTTYNameInTitle</key>
			<false/>
			<key>ShowWindowSettingsNameInTitle</key>
			<false/>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAU8QITAuODQ3ODI2MTIgMC44NDc4MjYxMiAw
			Ljg0NzgyNjEyANIUFRYXWCRjbGFzc2VzWiRjbGFzc25hbWWiFxhX
			TlNDb2xvclhOU09iamVjdAgRGh8pMjc6P0FTV11ka3h+gIKmq7S/
			wsoAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlV05TV2hpdGWAAhADQjEA0hQVFhdYJGNsYXNzZXNaJGNsYXNz
			bmFtZaIXGFdOU0NvbG9yWE5TT2JqZWN0CBEaHykyNzo/QVNXXWRr
			eICChIeMlaCjqwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>UseBoldFonts</key>
			<false/>
			<key>UseBrightBold</key>
			<true/>
			<key>VisualBell</key>
			<false/>
			<key>WindowTitle</key>
			<string></string>
			<key>columnCount</key>
			<integer>202</integer>
			<key>name</key>
			<string>Pro</string>
			<key>rowCount</key>
			<integer>47</integer>
			<key>shellExitAction</key>
			<integer>1</integer>
			<key>type</key>
			<string>Window Settings</string>
			<key>useOptionAsMetaKey</key>
			<true/>
			<key>warnOnShellCloseAction</key>
			<integer>2</integer>
		</dict>
		<key>Red Sands</key>
		<dict>
			<key>BackgroundColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAU8QLDAuNDc4MjYwODcgMC4xNDUxMDQzNiAw
			LjExNjg4MTIxIDAuODUwMDAwMDIA0hQVFhdYJGNsYXNzZXNaJGNs
			YXNzbmFtZaIXGFdOU0NvbG9yWE5TT2JqZWN0CBEaHykyNzo/QVNX
			XWRreH6AgrG2v8rN1QAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAA
			AAAAAADe
			</data>
			<key>CursorColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlV05TV2hpdGWAAhADQjEA0hQVFhdYJGNsYXNzZXNaJGNsYXNz
			bmFtZaIXGFdOU0NvbG9yWE5TT2JqZWN0CBEaHykyNzo/QVNXXWRr
			eICChIeMlaCjqwAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAA
			AAC0
			</data>
			<key>CursorType</key>
			<integer>1</integer>
			<key>Font</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKkCwwVFlUkbnVsbNQNDg8QERITFFYkY2xhc3NWTlNTaXpl
			Vk5TTmFtZVhOU2ZGbGFnc4ADI0AkAAAAAAAAgAIQEFZNb25hY2/S
			FxgZGlgkY2xhc3Nlc1okY2xhc3NuYW1lohobVk5TRm9udFhOU09i
			amVjdAgRGh8pMjc6P0FTWF5nbnV8hYeQkpSboKm0t74AAAAAAAAB
			AQAAAAAAAAAcAAAAAAAAAAAAAAAAAAAAxw==
			</data>
			<key>FontAntialias</key>
			<false/>
			<key>SelectionColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAk8QIzAuMjM3OTAzMjEgMC4wOTc2MDEzMzkg
			MC4wODc0MzQ1MjMA0hQVFhdYJGNsYXNzZXNaJGNsYXNzbmFtZaIX
			GFdOU0NvbG9yWE5TT2JqZWN0CBEaHykyNzo/QVNXXWRreH6Agqit
			tsHEzAAAAAAAAAEBAAAAAAAAABkAAAAAAAAAAAAAAAAAAADV
			</data>
			<key>TextBoldColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAU8QHDAuODc1IDAuNzQwMzg4NDUgMC4xMzIx
			Mzg3MwDSFBUWF1gkY2xhc3Nlc1okY2xhc3NuYW1lohcYV05TQ29s
			b3JYTlNPYmplY3QIERofKTI3Oj9BU1ddZGt4foCCoaavur3FAAAA
			AAAAAQEAAAAAAAAAGQAAAAAAAAAAAAAAAAAAAM4=
			</data>
			<key>TextColor</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGCQpYJHZlcnNpb25UJHRvcFkkYXJjaGl2
			ZXJYJG9iamVjdHMSAAGGoNEHCFRyb290gAFfEA9OU0tleWVkQXJj
			aGl2ZXKjCwwTVSRudWxs0w0ODxARElYkY2xhc3NcTlNDb2xvclNw
			YWNlVU5TUkdCgAIQAk8QITAuODQzMTM3MzIgMC43ODgyMzUzNyAw
			LjY1NDkwMTk4ANIUFRYXWCRjbGFzc2VzWiRjbGFzc25hbWWiFxhX
			TlNDb2xvclhOU09iamVjdAgRGh8pMjc6P0FTV11ka3h+gIKmq7S/
			wsoAAAAAAAABAQAAAAAAAAAZAAAAAAAAAAAAAAAAAAAA0w==
			</data>
			<key>name</key>
			<string>Red Sands</string>
			<key>type</key>
			<string>Window Settings</string>
		</dict>
	</dict>
</dict>
</plist>
